<div class="container-fluid">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-12">
                <h3>Nuevo cliente</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
              <div class="card card-insert">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nombre" class="form-label">Nombre completo</label>
                                <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre completo">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="nombre" class="form-label">Tipo documento</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">CC</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="nombre" class="form-label">Número documento</label>
                            <input class="form-control" type="number"  >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="nombre" class="form-label">Razón social</label>
                            <input class="form-control" type="text" placeholder="Razón soial" >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="nombre" class="form-label">Proveedores</label>
                            <input class="form-control" type="number" >
                        </div>
                        <div class="col-sm-8">
                            <label for="nombre" class="form-label">Ventas del último año</label>
                            <input class="form-control" type="number">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-primary">Guardar</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>